
<%const groupId = []%>
<div
    class="container-fluid"
    style="
        border-style: solid;
        background-color: rgb(0, 100, 67);
        color: white;
        padding-left: 0;
        padding-right: 0;
    "
>
    <h3 style="margin: 10px"><%= title%></h3>
    <input
        type="text"
        class="form-control form-control-sm visually-hidden"
        id="_id"
        placeholder="_id"
        value="<%=user._id%>"
    />
    <div class="box" style="padding-left: 12px; background-color: whitesmoke">
        <div class="row row-cols-2" style="width: 100%">
            <div class="col-sm-3" id="groupBox">
                <table class="table" style="background-color: white">
                    <thead>
                        <tr>
                            <th id="head" scope="col">
                                <p style="justify-self: start; margin: 0"><%= user.name%></p>
                                <div style="justify-content: space-around">
                                    <button id="showPopUp" class="btn btn-primary mb-3" onclick="showPopUp()">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            style="width: 20px; height: 20px"
                                        >
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                                            />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                                            />
                                        </svg>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-primary mb-3"
                                        id="delete"
                                        onclick="showDeleteGroupPopUp()"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-trash3"
                                            viewBox="0 0 16 16"
                                            style="color: white"
                                        >
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body" style="background-color: white">
                        <%for (const group of groups){ %>
                        <tr id="text-row" style="display: grid; margin: 5px">
                            <td
                                class="tableData"
                                style="
                                    padding-left: 40px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    margin: 3px;
                                    font-size: 18px;
                                    background-color: whitesmoke;
                                    border-radius: 20px;
                                "
                                id="<%= group._id%>"
                                onclick="getMessages('<%= group._id%>','<%=group.name%>')"
                            >
                                <% groupId.push(group._id)%> <%=group.name%>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-9" id="chat-div">
                <div class="chat-history" id="chat-history"></div>
                <div class="chat-action" id="chat-action"></div>
            </div>
        </div>
    </div>
</div>


<!-- SOCKET SCRIPT INITIALIZATION -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="<%=siteUrl%>/public/js/client.js"></script>
<script>
    const groupIdArray = "<%= groupId%>";
    sessionStorage.setItem("groupId", groupIdArray);
</script>